@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Bold.woff') format('woff'),
       url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

 .no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
 } 

body {
  margin: 0;
  background-color: #f3f4f5;
  /* background-color: rgb(217, 217, 217); */
  font-family: 'Satoshi-Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


